<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>resources/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{302, 483}, {13, 13}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 22}, {13, 13}}</string>
			<key>sourceSize</key>
			<string>{57, 57}</string>
		</dict>
		<key>resources/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{67, 483}, {24, 24}}</string>
			<key>offset</key>
			<string>{6, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 22}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{57, 57}</string>
		</dict>
		<key>resources/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{30, 483}, {24, 35}}</string>
			<key>offset</key>
			<string>{6, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22, 11}, {24, 35}}</string>
			<key>sourceSize</key>
			<string>{57, 57}</string>
		</dict>
		<key>resources/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 38}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 11}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{57, 57}</string>
		</dict>
		<key>resources/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{360, 1}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 11}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{57, 57}</string>
		</dict>
		<key>resources/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{434, 1}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 11}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{57, 57}</string>
		</dict>
		<key>resources/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{471, 1}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 11}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{57, 57}</string>
		</dict>
		<key>resources/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 1}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 11}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{57, 57}</string>
		</dict>
		<key>resources/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{397, 1}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 11}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{57, 57}</string>
		</dict>
		<key>resources/close_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{283, 483}, {18, 17}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {18, 17}}</string>
			<key>sourceSize</key>
			<string>{23, 23}</string>
		</dict>
		<key>resources/close_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{118, 483}, {23, 23}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {23, 23}}</string>
			<key>sourceSize</key>
			<string>{23, 23}</string>
		</dict>
		<key>resources/number_combine.png</key>
		<dict>
			<key>frame</key>
			<string>{{143, 483}, {138, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {138, 22}}</string>
			<key>sourceSize</key>
			<string>{140, 22}</string>
		</dict>
		<key>resources/restart_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{93, 483}, {23, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {23, 24}}</string>
			<key>sourceSize</key>
			<string>{27, 28}</string>
		</dict>
		<key>resources/restart_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 483}, {27, 28}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {27, 28}}</string>
			<key>sourceSize</key>
			<string>{27, 28}</string>
		</dict>
		<key>resources/scene_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {320, 480}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>sourceSize</key>
			<string>{320, 480}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>resources.png</string>
	</dict>
</dict>
</plist>
