<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>upgrade1</key>
	<dict>
		<key>name</key>
		<string>生物酶基因改造</string>
		<key>levels</key>
		<array>
			<dict>
				<key>level</key>
				<integer>1</integer>
				<key>comment</key>
				<string>生物酶产量+10%</string>
				<key>additional</key>
				<dict>
					<key>upgradeScoreInc</key>
					<real>0.1</real>
				</dict>
				<key>cost</key>
				<string>300</string>
				<key>rate</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>2</integer>
				<key>comment</key>
				<string>生物酶产量+20%</string>
				<key>additional</key>
				<dict>
					<key>upgradeScoreInc</key>
					<real>0.2</real>
				</dict>
				<key>cost</key>
				<string>1000</string>
				<key>rate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>3</integer>
				<key>comment</key>
				<string>生物酶产量+40%</string>
				<key>additional</key>
				<dict>
					<key>upgradeScoreInc</key>
					<real>0.4</real>
				</dict>
				<key>cost</key>
				<string>3000</string>
				<key>rate</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>4</integer>
				<key>comment</key>
				<string>生物酶产量+70%</string>
				<key>additional</key>
				<dict>
					<key>upgradeScoreInc</key>
					<real>0.7</real>
				</dict>
				<key>cost</key>
				<string>6000</string>
				<key>rate</key>
				<integer>70</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>5</integer>
				<key>comment</key>
				<string>生物酶产量+120%</string>
				<key>additional</key>
				<dict>
					<key>upgradeScoreInc</key>
					<real>1.2</real>
				</dict>
				<key>cost</key>
				<string>10000</string>
				<key>rate</key>
				<integer>60</integer>
			</dict>
		</array>
	</dict>
	<key>upgrade2</key>
	<dict>
		<key>name</key>
		<string>适应性改造-初级</string>
		<key>levels</key>
		<array>
			<dict>
				<key>level</key>
				<integer>1</integer>
				<key>comment</key>
				<string>生物质消耗-10%</string>
				<key>additional</key>
				<dict>
					<key>upgradeBiomassDec</key>
					<real>0.1</real>
				</dict>
				<key>cost</key>
				<string>250</string>
				<key>rate</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>2</integer>
				<key>comment</key>
				<string>生物质消耗-20%</string>
				<key>additional</key>
				<dict>
					<key>upgradeBiomassDec</key>
					<real>0.2</real>
				</dict>
				<key>cost</key>
				<string>800</string>
				<key>rate</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>3</integer>
				<key>comment</key>
				<string>生物质消耗-40%</string>
				<key>additional</key>
				<dict>
					<key>upgradeBiomassDec</key>
					<real>0.4</real>
				</dict>
				<key>cost</key>
				<string>2000</string>
				<key>rate</key>
				<integer>65</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>4</integer>
				<key>comment</key>
				<string>生物质消耗-60%</string>
				<key>additional</key>
				<dict>
					<key>upgradeBiomassDec</key>
					<real>0.6</real>
				</dict>
				<key>cost</key>
				<string>4000</string>
				<key>rate</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>5</integer>
				<key>comment</key>
				<string>生物质消耗-80%</string>
				<key>additional</key>
				<dict>
					<key>upgradeBiomassDec</key>
					<real>0.8</real>
				</dict>
				<key>cost</key>
				<string>8000</string>
				<key>rate</key>
				<integer>20</integer>
			</dict>
		</array>
	</dict>
	<key>upgrade3</key>
	<dict>
		<key>name</key>
		<string>适应性改造-高级</string>
		<key>levels</key>
		<array>
			<dict>
				<key>level</key>
				<integer>1</integer>
				<key>comment</key>
				<string>生物质产量+10%</string>
				<key>additional</key>
				<dict>
					<key>upgradeBiomassInc</key>
					<real>0.1</real>
				</dict>
				<key>cost</key>
				<string>400</string>
				<key>rate</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>2</integer>
				<key>comment</key>
				<string>生物质产量+20%</string>
				<key>additional</key>
				<dict>
					<key>upgradeBiomassInc</key>
					<real>0.2</real>
				</dict>
				<key>cost</key>
				<string>1200</string>
				<key>rate</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>3</integer>
				<key>comment</key>
				<string>生物质产量+40%</string>
				<key>additional</key>
				<dict>
					<key>upgradeBiomassInc</key>
					<real>0.4</real>
				</dict>
				<key>cost</key>
				<string>3000</string>
				<key>rate</key>
				<integer>60</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>4</integer>
				<key>comment</key>
				<string>生物质产量+60%</string>
				<key>additional</key>
				<dict>
					<key>upgradeBiomassInc</key>
					<real>0.6</real>
				</dict>
				<key>cost</key>
				<string>6000</string>
				<key>rate</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>5</integer>
				<key>comment</key>
				<string>生物质产量+100%</string>
				<key>additional</key>
				<dict>
					<key>upgradeBiomassInc</key>
					<real>1</real>
				</dict>
				<key>cost</key>
				<string>12000</string>
				<key>rate</key>
				<integer>20</integer>
			</dict>
		</array>
	</dict>
	<key>upgrade4</key>
	<dict>
		<key>name</key>
		<string>分裂</string>
		<key>levels</key>
		<array>
			<dict>
				<key>level</key>
				<integer>1</integer>
				<key>comment</key>
				<string>2%机率在进化时产生新细胞</string>
				<key>additional</key>
				<dict>
					<key>upgradeSplit</key>
					<real>0.02</real>
				</dict>
				<key>cost</key>
				<string>400</string>
				<key>rate</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>2</integer>
				<key>comment</key>
				<string>4%机率在进化时产生新细胞</string>
				<key>additional</key>
				<dict>
					<key>upgradeSplit</key>
					<real>0.04</real>
				</dict>
				<key>cost</key>
				<string>1200</string>
				<key>rate</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>3</integer>
				<key>comment</key>
				<string>6%机率在进化时产生新细胞</string>
				<key>additional</key>
				<dict>
					<key>upgradeSplit</key>
					<real>0.06</real>
				</dict>
				<key>cost</key>
				<string>3000</string>
				<key>rate</key>
				<integer>60</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>4</integer>
				<key>comment</key>
				<string>10%机率在进化时产生新细胞</string>
				<key>additional</key>
				<dict>
					<key>upgradeSplit</key>
					<real>0.1</real>
				</dict>
				<key>cost</key>
				<string>6000</string>
				<key>rate</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>5</integer>
				<key>comment</key>
				<string>15%机率在进化时产生新细胞</string>
				<key>additional</key>
				<dict>
					<key>upgradeSplit</key>
					<real>0.15</real>
				</dict>
				<key>cost</key>
				<string>12000</string>
				<key>rate</key>
				<integer>20</integer>
			</dict>
		</array>
	</dict>
	<key>upgrade5</key>
	<dict>
		<key>name</key>
		<string>细胞基因序列优化</string>
		<key>levels</key>
		<array>
			<dict>
				<key>level</key>
				<integer>1</integer>
				<key>comment</key>
				<string>放置细菌消耗的生物酶-10%</string>
				<key>additional</key>
				<dict>
					<key>upgradeScoreCostDec</key>
					<real>0.1</real>
				</dict>
				<key>cost</key>
				<string>150</string>
				<key>rate</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>2</integer>
				<key>comment</key>
				<string>放置细菌消耗的生物酶-20%</string>
				<key>additional</key>
				<dict>
					<key>upgradeScoreCostDec</key>
					<real>0.2</real>
				</dict>
				<key>cost</key>
				<string>600</string>
				<key>rate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>3</integer>
				<key>comment</key>
				<string>放置细菌消耗的生物酶-40%</string>
				<key>additional</key>
				<dict>
					<key>upgradeScoreCostDec</key>
					<real>0.4</real>
				</dict>
				<key>cost</key>
				<string>1800</string>
				<key>rate</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>4</integer>
				<key>comment</key>
				<string>放置细菌消耗的生物酶-60%</string>
				<key>additional</key>
				<dict>
					<key>upgradeScoreCostDec</key>
					<real>0.6</real>
				</dict>
				<key>cost</key>
				<string>3500</string>
				<key>rate</key>
				<integer>70</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>5</integer>
				<key>comment</key>
				<string>放置细菌消耗的生物酶-80%</string>
				<key>additional</key>
				<dict>
					<key>upgradeScoreCostDec</key>
					<real>0.8</real>
				</dict>
				<key>cost</key>
				<string>7000</string>
				<key>rate</key>
				<integer>50</integer>
			</dict>
		</array>
	</dict>
	<key>upgrade6</key>
	<dict>
		<key>name</key>
		<string>终极进化</string>
		<key>levels</key>
		<array>
			<dict>
				<key>level</key>
				<integer>1</integer>
				<key>comment</key>
				<string>%2机率样本自动进化</string>
				<key>additional</key>
				<dict>
					<key>upgradeAutoRevolution</key>
					<real>0.02</real>
				</dict>
				<key>cost</key>
				<string>500</string>
				<key>rate</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>2</integer>
				<key>comment</key>
				<string>%3机率样本自动进化</string>
				<key>additional</key>
				<dict>
					<key>upgradeAutoRevolution</key>
					<real>0.03</real>
				</dict>
				<key>cost</key>
				<string>1500</string>
				<key>rate</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>3</integer>
				<key>comment</key>
				<string>%4机率样本自动进化</string>
				<key>additional</key>
				<dict>
					<key>upgradeAutoRevolution</key>
					<real>0.04</real>
				</dict>
				<key>cost</key>
				<string>4000</string>
				<key>rate</key>
				<integer>60</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>4</integer>
				<key>comment</key>
				<string>%5机率样本自动进化</string>
				<key>additional</key>
				<dict>
					<key>upgradeAutoRevolution</key>
					<real>0.05</real>
				</dict>
				<key>cost</key>
				<string>8000</string>
				<key>rate</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>level</key>
				<integer>5</integer>
				<key>comment</key>
				<string>%8机率样本自动进化</string>
				<key>additional</key>
				<dict>
					<key>upgradeAutoRevolution</key>
					<real>0.06</real>
				</dict>
				<key>cost</key>
				<string>16000</string>
				<key>rate</key>
				<integer>20</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
